/* @import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&family=Shippori+Mincho+B1&display=swap');     */

body{
    font-family: 'Rethink Sans', Helvetica;
    color: white;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    /* display: flex; */
    
    
    h1 {
        letter-spacing: 0.3em;
        font-weight: 400;
    }

    h3 {
        font-weight: 100;
    }

    
}

.motherDiv{
  background-color: #F08080;
  
} 

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

container{
    flex: auto;
    background-color: aliceblue;
    : flex;
}

#color {
    background-color: lightblue;
}


